<app-not-found
  [visible]="!Grocery"
  notFoundMessage="Grocery Not Found!"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="Grocery" class="container">
  <img [src]="Grocery.imageURl" [alt]="Grocery.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{Grocery.name}}
      </span>
      <span class="favourite {{ Grocery.favorite ? '' : 'not' }}">❤</span>
    </div>
    <div class="stars">
      <star-rating
        [value]="Grocery.stars"
        [totalstars]=5
        checkedcolor="red"
        uncheckedcolor="black"
        size="22px"
        [readonly]="true">
      </star-rating>
    </div>
    <div class="product-item-footer">
      <div class="origins">
        <span *ngFor="let origin of Grocery.origins">
          {{origin}}
        </span>
      </div>
    </div>
    <div class="tags">
      <a *ngFor="let tag of Grocery.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="price">
      <span>
        {{Grocery.price | currency}}
      </span>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
